








<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>貼文資訊 - listOneForumPost.html</title>

<head th:insert="~{/back-end/forumReply/included-fragment}"></head>
<style type="text/css">
	
    span {
		display: inline-block;
		width: 150px;
		text-align: left;
		font-weight: bold;
	}
</style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
		 <div align="center"> <h2>貼文詳細資訊 - listOneForumReply.html</h2>
		 <h3><a class="navbar-brand" th:href="@{/forumReply/select_page2}"><img th:src="@{/images/back1.gif}">回查詢頁<label th:text="${success}"></label></a></h3></div>
</nav>

	<div align="center" th:fragment="listOneForumReply-div"> <!-- 此div被select_page.html第128行insert用 -->
		<h3><span>查詢結果 :</span></h3>
		<span>貼文回覆編號:</span><span th:text="${forumReplyVO.frNum}"></span><br/>
		<span>貼文編號:</span><span th:text="${forumReplyVO.forumPostVO.fpNum} + '-[' + ${forumReplyVO.forumPostVO.fpTitle} + ']'"></span><br/>
		<span>會員編號:</span><span th:text="${forumReplyVO.userVO.userId} + '-[' + ${forumReplyVO.userVO.comName} + ']'"></span><br/>
		<span>回覆內容:</span><span th:text="${forumReplyVO.frContent}"></span><br/>
		<span>貼文圖片:</span><span><img th:src="@{/forumReply/DBGifReader4} + '?frNum=' + ${forumReplyVO.frNum}" width="100px"></span><br/>
		<span>回文按讚數:</span><span th:text="${forumReplyVO.frStat}"></span><br/>
		<span>回覆貼文發佈時間:</span><span th:text="${forumReplyVO.frTime}"></span><br/>	
		<span>回覆貼文最後編輯時間:</span><span th:text="${forumReplyVO.frUpdate}"></span><br/>
		<span>回文狀態:</span><span th:text="${forumReplyVO.frStat}"></span><br/>
	</div>


</body>
</html>