








<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>論壇貼文修改 - update_ForumReply_input.html</title>

<head th:insert="~{/back-end/forumReply/included-fragment}"></head>
<style type="text/css">
	
	button {
		padding: 5px;
	}
	form {
		display: table;
	}
	form div {
		display: table-row;
	}
	label, input, span, select {
		display: table-cell;
		margin: 5px;
		text-align: left;		
	}
	input[type=text], input[type=password], select, textarea {
		width: 200px;
		margin: 5px;
	}
	form div div {
		display: table-cell;
	}
	.center {
        margin-left: auto;
        margin-right: auto;
    }
</style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
		 <div align="center"> <h2>論壇回覆貼文修改 - update_ForumReply_input.html</h2>
		 <h3><a class="navbar-brand" th:href="@{/forumReply/select_page2}"><img th:src="@{/images/back1.gif}">回查詢頁</a></h3></div>
</nav>
<!-- 24個欄位 -->
	<div align="center">
		<h3><b>所有欄位皆為必填欄位</b></h3>
		<form th:action="@{update}" method="post" th:object="${forumReplyVO}" enctype="multipart/form-data">
			
			<div>
			<label>回覆貼文編號:</label>
			<input type="text" th:field="*{frNum}" style="border:0px ; font-weight: bold;" readonly /><br/>
			</div>			
			
			
			<div>
			<label>會員編號:</label>
			<input type="text" th:field="*{frUserid}" onclick="hideContent('fpUserid.errors');" /><br/>
			<span  th:if="${#fields.hasErrors('frUserid')}" th:errors="*{frUserid}" class="error" id="frUserid.errors"></span>
			</div>
			
			<div>
			<label>回覆文章內容:</label>
			<input type="text" th:field="*{frContent}" onclick="hideContent('fpContent.errors');" /><br/>
			<span  th:if="${#fields.hasErrors('frContent')}" th:errors="*{frContent}" class="error" id="frContent.errors"></span>
			</div>
			
			
			<div>
			<label>修改圖片:</label>
			<input type="file" th:field="*{frImage}" onclick="previewImage()" multiple="multiple" />
            <!-- 可以不修改圖片 <span  th:if="${#fields.hasErrors('comAboutImage')}" th:errors="*{comAboutImage}" class="error" id="comAboutImage.errors"></span> -->
			<div id="blob_holder"><img th:src="@{/forumReply/DBGifReader1} + '?frNum=' + ${forumReplyVO.frNum}" width="100px"></div>
			</div>
			
			
			<div>
			<label>文章愛心:</label>
			<input type="text" th:field="*{frLike}" onclick="hideContent('frLike.errors');" /><br/>
			<span  th:if="${#fields.hasErrors('frLike')}" th:errors="*{frLike}" class="error" id="frLike.errors"></span>
			</div>
				
			
			<div>
			<label>文章狀態:</label>
			<input type="text" th:field="*{frStat}" onclick="hideContent('fpStat.errors');" /><br/>
			<span  th:if="${#fields.hasErrors('frStat')}" th:errors="*{frStat}" class="error" id="frStat.errors"></span>
			</div>
			
			
			<div>
				<div></div>
				<div><button type="submit" id="submit"> 送出修改 </button></div>
				<div></div>
			</div>		
		</form>
	
	</div>


<!-- JavaScript part -->
<script type="text/javascript">
//清除提示信息
function hideContent(d) {
     document.getElementById(d).style.display = "none";
}

//照片上傳-預覽用
var filereader_support = typeof FileReader != 'undefined';
if (!filereader_support) {
	alert("No FileReader support");
}
acceptedTypes = {
		'image/png' : true,
		'image/jpeg' : true,
		'image/gif' : true
};
function previewImage() {
	var upfile1 = document.getElementById("frImage");
	upfile1.addEventListener("change", function(event) {
		var files = event.target.files || event.dataTransfer.files;
		for (var i = 0; i < files.length; i++) {
			previewfile(files[i])
		}
	}, false);
}
function previewfile(file) {
	if (filereader_support === true && acceptedTypes[file.type] === true) {
		var reader = new FileReader();
		reader.onload = function(event) {
			var image = new Image();
			image.src = event.target.result;
			image.width = 100;
			image.height = 75;
			image.border = 2;
			if (blob_holder.hasChildNodes()) {
				blob_holder.removeChild(blob_holder.childNodes[0]);
			}
			blob_holder.appendChild(image);
		};
		reader.readAsDataURL(file);
		document.getElementById('submit').disabled = false;
	} else {
		blob_holder.innerHTML = "<div  style='text-align: left;'>" + "● filename: " + file.name
				+ "<br>" + "● ContentTyp: " + file.type
				+ "<br>" + "● size: " + file.size + "bytes"
				+ "<br>" + "● 上傳ContentType限制: <b> <font color=red>image/png、image/jpeg、image/gif </font></b></div>";
		document.getElementById('submit').disabled = true;
	}
}
</script>

</body>
</html>