<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>addQuotation</title>

<style>
/* 小型設備（手機） */
@media ( max-width : 767.98px) { /* 樣式設定 */
}

/* 中型設備（平板） */
@media ( min-width : 768px) and (max-width: 991.98px) { /* 樣式設定 */
}

/* 大型設備（桌面） */
@media ( min-width : 992px) { /* 樣式設定 */
}

.list-group1 {
	display: none;
	/* 隱藏通知列表 */
}

.list-group1.show {
	display: block;
	/* 顯示通知列表 */
}

.notification-dropdown {
	position: absolute;
	top: 60px;
	/* 距離 header 的頂部距離 */
	right: 10px;
	/* 距離 header 的右側距離 */
	background-color: white;
	border: 1px solid #ddd;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: none;
	z-index: 1000; /* 设置一个比较大的值，确保通知内容显示在其他内容的上方 */
}

.notification-dropdown.show {
	display: block;
}

.notification-icon {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.notification-badge {
	position: absolute;
	top: -5px;
	right: -5px;
	background-color: red;
	color: white;
	border-radius: 50%;
	padding: 5px;
	font-size: 12px;
}
</style>
</head>

<body>
<head th:insert="~{/front-end/header_login}"></head>

<!-- siderbar -->
<div class="row">
	<div class="col-md-3">
		<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-white"
			style="height: 600px; text-align: center;">
			<div
				class="d-flex flex-column align-items-center mb-0 mb-md-0 me-md-auto text-white text-decoration-none">
				<span class="fs-1" style="color: black; padding-left: 60px;">Hi,
					<span th:text="${session.loggingInUser.comName}">User</span>!
				</span>
			</div>
			<div class="user-profile">
				<svg xmlns="http://www.w3.org/2000/svg" width="170" height="170"
					fill="currentColor" style="padding-left: 60px;"
					class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                        <path fill-rule="evenodd"
						d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                    </svg>
			</div>

			<div class="col-6" style="padding-left: 10px;">
				<div class="d-grid gap-1">
					<a th:href="@{/userinformation/addReqOrder}">
						<button class="btn btn-secondary" id="myBtn" type="button"
							style="height: 100px; width: 300px; font-size: 30px; background-color: rgb(173, 139, 105);">提出需求</button>
					</a>
				</div>
				<div style="margin-top: 30px;"></div>
				<a th:href="@{/order/transaction_stat}">
					<button class="btn btn-secondary" type="button"
						style="height: 100px; width: 300px; font-size: 30px; background-color: rgb(173, 139, 105);">
						交易狀態</button>
				</a>
			</div>
		</div>
	</div>


	<div class="col-md-9">
		<div class="d-flex justify-content-center">
			<div class="col-7"
				style="background-color: rgb(211, 206, 206); height: 650px; width: 1000px;">
				<h2>報價單</h2>
				<div style="margin-top: 30px;"></div>

				<form th:action="@{insertQuo}" method="post" th:object="${quoVO}" enctype="multipart/form-data">

					<div class="row">
						 <div class="col-md-1">
							<!-- <div class="d-flex align-items-center" style="font-size: 25px;">
								<label class="me-3" th:text="'需求品項: ' + ${quoVO.quoProdname}"></label>
							</div>
							<div style="margin-top: 30px;"></div>
							<div class="d-flex align-items-center" style="font-size: 25px;"
								th:if="${quoVO.userVO != null}">
								<label class="me-3" th:text="'會員: ' + ${quoVO.userVO.userid}"></label>
							</div>

							<div style="margin-top: 30px;"></div>
							<div class="d-flex align-items-center" style="font-size: 25px;">
								<label class="me-3"
									th:text="'需求數量: ' + ${quoVO.quoProdqty + '顆'}"></label>
							</div>
							<div style="margin-top: 30px;"></div>
							<div class="d-flex align-items-center" style="font-size: 25px;">
								<label class="me-2">圖片:</label> <img
									th:src="@{${reqOrderVO.reqProdimage}}" class="img-thumbnail"
									alt="200x200" style="width: 200px; height: 200px;">
							</div> -->
						</div>


						<div class="col-md-8">
							<div class="d-flex align-items-center">
								<label for="quoProdname" class="me-3">商品名稱:</label> 
								<br>
								<input type="text" th:field="*{quoProdname}" th:value="${quoVO.quoProdname}" id="quoProdname" readonly="readonly" /><br>
							</div>
							
							
							<div style="margin-top: 30px;"></div>
							<div class="d-flex align-items-center">
								<label for="quoUnitname" class="me-3">單位:</label>
								<br>
								<input type="text" th:field="*{quoUnitname}" th:value="${quoVO.quoUnitname}" id="quoUnitname" readonly="readonly" /><br>
							</div>
							
						
							<div style="margin-top: 30px;"></div>
							<div class="d-flex align-items-center">
								<label for="quoProdqty" class="me-3">數量:</label>
								<br>
								<input type="text" th:field="*{quoProdqty}" th:value="${quoVO.quoProdqty}" id="quoProdqty" readonly="readonly" /><br>
							</div>
							
							
<!-- 							以上不用使用者輸入 -->
							
							<div style="margin-top: 30px;"></div>
							<div class="d-flex align-items-center">
								<label for="quoUnitprice" class="me-3">每單位價格:</label>
								<br>
								<input type="text" name="quoUnitprice" id="quoUnitprice" th:field="*{quoUnitprice}">新台幣TWD<br>
							</div>
							
							
							<div style="margin-top: 30px;"></div>
							<div class="d-flex align-items-center">
								<label for="quoTotalprice" class="me-3">總價格:</label>
								<br>
								<input type="text" name="quoTotalprice" id="quoTotalprice" th:field="*{quoTotalprice}" readonly="readonly">新台幣TWD<br>
							</div>
							
							
							<div style="margin-top: 30px;"></div>
							<div class="d-flex align-items-center">
								<label for="quoInfo" class="me-3">方案詳情:</label>
								<br>
								<textarea class="form-control" name="quoInfo" id="quoInfo" th:field="*{quoInfo}" style="resize: vertical; height: 100px;"></textarea>
								<br>
							</div>
														
							
<!-- 							以下是隱藏的input -->
							<input type="hidden" th:field="*{quoDate}" id="quoDate"/>
							<input type="hidden" th:field="*{quoIsValid}" id="quoIsValid"/>
							
							<input type="hidden" th:field="*{reqOrderVO}" th:value="${quoVO.reqOrderVO.reqNum}" id="quoReqnum"/>
							<input type="hidden" th:field="*{userVO}" th:value="${quoVO.userVO.userId}" id="quoUserid"/>
							
							
														
							<div style="margin-top: 30px;"></div>
							<div class="d-flex justify-content-center">
								<button type="submit" id="submitBtn" class="btn btn-primary">報價</button>
							</div>
						</div>
						</div>
				</form>
			</div>
		</div>
	</div>
</div>


<!-- <footer> -->
<head th:insert="~{/front-end/footer}"></head>
<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.min.js}"></script>
<script>
var currentDate = new Date();
var formattedDate = currentDate.toLocaleDateString('en-CA', {
	year : 'numeric',
	month : '2-digit',
	day : '2-digit'
});

document.getElementById('quoDate').value = formattedDate;
document.getElementById("quoIsValid").value = 1;


//----------------------以下是計算總金額----------------------


//在頁面載入完成後執行
window.onload = function() {
    // 獲取單位價格和數量輸入框
    var unitPriceInput = document.getElementById('quoUnitprice');
    var quantityInput = document.getElementById('quoProdqty');
    var totalPriceInput = document.getElementById('quoTotalprice');

    // 監聽單位價格和數量輸入框的變化
    unitPriceInput.addEventListener('input', updateTotalPrice);
    quantityInput.addEventListener('input', updateTotalPrice);

    // 定義更新總價格的函數
    function updateTotalPrice() {
        // 獲取單位價格和數量
        var unitPrice = parseInt(unitPriceInput.value);
        var quantity = parseInt(quantityInput.value);

        // 計算總價格
        var totalPrice = unitPrice * quantity;

        // 將計算結果顯示在總價格輸入框中
        totalPriceInput.value = isNaN(totalPrice) ? '' : totalPrice;
    }
};

</script>
</body>

</html>