<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>addQuotation</title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" />
<style>
/* 小型設備（手機） */
@media ( max-width : 767.98px) { /* 樣式設定 */
}

/* 中型設備（平板） */
@media ( min-width : 768px) and (max-width: 991.98px) { /* 樣式設定 */
}

/* 大型設備（桌面） */
@media ( min-width : 992px) { /* 樣式設定 */
}

.list-group1 {
	display: none;
	/* 隱藏通知列表 */
}

.list-group1.show {
	display: block;
	/* 顯示通知列表 */
}

.notification-dropdown {
	position: absolute;
	top: 60px;
	/* 距離 header 的頂部距離 */
	right: 10px;
	/* 距離 header 的右側距離 */
	background-color: white;
	border: 1px solid #ddd;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: none;
	z-index: 1000; /* 设置一个比较大的值，确保通知内容显示在其他内容的上方 */
}

.notification-dropdown.show {
	display: block;
}

.notification-icon {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.notification-badge {
	position: absolute;
	top: -5px;
	right: -5px;
	background-color: red;
	color: white;
	border-radius: 50%;
	padding: 5px;
	font-size: 12px;
}
</style>
</head>

<body>
	<!-- <header> -->
	<div id="header">
		<div class="container">
			<header
				class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
				<a th:href="@{/index}"
					class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
					<img th:src="@{/images/new-logo.svg}" width="50" height="50" /> <span
					class="fs-4" style="font-weight: bold;">NO BARRIER TECH</span>
				</a>
				<ul class="nav nav-pills">
					<li class="nav-item"><a th:href="@{/}" class="nav-link">關於我們</a></li>
					<li class="nav-item"><a th:href="@{/}" class="nav-link">最新消息</a></li>
					<li class="nav-item"><a th:href="@{/com/com}" class="nav-link">廠商資訊</a></li>
					<li class="nav-item"><a href="@{/}" class="nav-link">論壇</a></li>
					<li class="nav-item"><a
						th:href="@{/userinformation/customer_service}" class="nav-link">聯絡我們</a></li>
					<li class="nav-item"><a th:href="@{/sign_in}" class="nav-link">登出</a></li>
					<div class="notification-container">
						<div id="notificationIcon" class="notification-icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"
								fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                                <path
									d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6" />
                            </svg>
							<span id="notificationBadge" class="notification-badge">0</span>
						</div>
						<div id="notificationDropdown" class="notification-dropdown">
							<a href="#">
								<h3>Notification Title 1</h3>
								<p>Notification Content 1</p>
							</a> <a href="#">
								<h3>Notification Title 2</h3>
								<p>Notification Content 2</p>
							</a> <a href="#">
								<h3>Notification Title 3</h3>
								<p>Notification Content 3</p>
							</a>
						</div>
					</div>
					<div class="user-profile" style="margin-left: 10px;">
						<a th:href="@{/userinformation/req_userpage}"> <svg
								xmlns="http://www.w3.org/2000/svg" width="40" height="40"
								fill="currentColor" class="bi bi-person-circle"
								viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                            <path fill-rule="evenodd"
									d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                        </svg>
						</a>
					</div>

					<!-- 漢堡選單 -->
					<nav class="navbar bg-custom-color"
						aria-label="Light offcanvas navbar">
						<div class="container-fluid">
							<a class="navbar-brand" href="#"></a>
							<button class="navbar-toggler" type="button"
								data-bs-toggle="offcanvas"
								data-bs-target="#offcanvasNavbarLight"
								aria-controls="offcanvasNavbarLight"
								aria-label="Toggle navigation">
								<span class="navbar-toggler-icon small"></span>
							</button>
							<div class="offcanvas offcanvas-end" tabindex="-1"
								id="offcanvasNavbarLight"
								aria-labelledby="offcanvasNavbarLightLabel">
								<div class="offcanvas-header">
									<h5 class="offcanvas-title" id="offcanvasNavbarLightLabel">NO
										BARRIER TECH</h5>
									<button type="button" class="btn-close"
										data-bs-dismiss="offcanvas" aria-label="Close"></button>
								</div>
								<div class="offcanvas-body">
									<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
										<li class="nav-item dropdown"><a
											class="nav-link dropdown-toggle" href="#" role="button"
											data-bs-toggle="dropdown" aria-expanded="false">會員中心</a>
											<ul class="dropdown-menu">
												<li><a class="dropdown-item"
													th:href="@{/userinformation/memberCen}">資料修改</a></li>
												<li><a class="dropdown-item"
													th:href="@{/userinformation/memberCen}">帳戶資訊</a></li>
												<li><a class="dropdown-item"
													th:href="@{/userinformation/memberCen}">更改密碼</a></li>
												<li><a class="dropdown-item"
													th:href="@{/userinformation/memberCen}">產業類別編輯</a></li>
											</ul></li>
										<li class="nav-item dropdown"><a
											class="nav-link dropdown-toggle" href="#" role="button"
											data-bs-toggle="dropdown" aria-expanded="false">介紹頁面</a>
											<ul class="dropdown-menu">
												<li><a class="dropdown-item"
													th:href="@{/com/editmember_ad_view}">預覽頁面</a></li>
												<li><a class="dropdown-item"
													th:href="@{/com/editmember_ad}">編輯頁面</a></li>
											</ul></li>
										<li class="nav-item dropdown"><a
											class="nav-link dropdown-toggle" href="#" role="button"
											data-bs-toggle="dropdown" aria-expanded="false">首頁廣告預約列表</a>
											<ul class="dropdown-menu">
												<li><a class="dropdown-item" href="#">首頁廣告購買</a></li>
											</ul></li>
										<li class="nav-item"><a class="nav-link"
											href="@{/order/transaction_stat}">交易狀態</a></li>
										<li class="nav-item"><a class="nav-link" href="#">月對帳單</a>
										</li>
									</ul>
									<form class="d-flex mt-3" role="search">
										<input class="form-control me-2" type="search"
											placeholder="Search" aria-label="Search">
										<button class="btn btn-outline-success" type="submit">Search</button>
									</form>
								</div>
							</div>
						</div>
					</nav>
				</ul>
			</header>
		</div>
	</div>
	</div>

	<!-- siderbar -->
	<div class="row">
		<div class="col-md-3">
			<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-white"
				style="height: 500px; text-align: center;">
				<div
					class="d-flex flex-column align-items-center mb-0 mb-md-0 me-md-auto text-white text-decoration-none">
					<span class="fs-1" style="color: black; padding-left: 60px;">Hi,
						二哥公司!</span>
				</div>
				<div class="user-profile">
					<svg xmlns="http://www.w3.org/2000/svg" width="170" height="170"
						fill="currentColor" style="padding-left: 60px;"
						class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                        <path fill-rule="evenodd"
							d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                    </svg>
				</div>

				<div class="col-6" style="padding-left: 10px;">
					<div class="d-grid gap-1">
						<a th:href="@{/userinformation/addReqOrder}">
							<button class="btn btn-secondary" id="myBtn" type="button"
								style="height: 100px; width: 300px; font-size: 30px; background-color: rgb(173, 139, 105);">提出需求</button>
						</a>
					</div>
					<div style="margin-top: 30px;"></div>
					<a th:href="@{/order/transaction_stat}">
						<button class="btn btn-secondary" type="button"
							style="height: 100px; width: 300px; font-size: 30px; background-color: rgb(173, 139, 105);">
							交易狀態</button>
					</a>

				</div>
			</div>
		</div>

		<div class="col-md-9">
			<div class="d-flex justify-content-center">
				<div class="col-7"
					style="background-color: rgb(211, 206, 206); height: 650px; width: 1000px;">
					<h2>報價單</h2>
					<div style="margin-top: 30px;"></div>
					
					<form th:action="@{insert}" method="post" th:object="${quoVO}"enctype="multipart/form-data">
					
						<div class="row">
							<div class="col-md-5">
								<div class="d-flex align-items-center" style="font-size: 25px;">
									<label class="me-3">需求品項:逆紋螺絲</label>
								</div>
								<div style="margin-top: 30px;"></div>
								<div class="d-flex align-items-center" style="font-size: 25px;">
									<label class="me-3">買方:小偉公司</label>
								</div>
								<div style="margin-top: 30px;"></div>
								<div class="d-flex align-items-center" style="font-size: 25px;">
									<label class="me-3">需求數量:500顆</label>
								</div>
								<div style="margin-top: 30px;"></div>
								<div class="d-flex align-items-center" style="font-size: 25px;">
									<label class="me-2">圖片:</label> <img src="image/200x200.png"
										class="img-thumbnail" alt="200x200"
										style="width: 200px; height: 200px;">
								</div>
							</div>

							<div class="col-md-6">
								<div class="d-flex align-items-center" style="font-size: 25px;">
									<label for="email" class="me-3">單位:</label> <input type="text"><br>
								</div>
								<div style="margin-top: 30px;"></div>
								<div class="d-flex align-items-center" style="font-size: 25px;">
									<label class="me-3">每單位價格:</label> <input type="text">新台幣TWD<br>
								</div>
								<div style="margin-top: 30px;"></div>
								<div class="d-flex align-items-center" style="font-size: 25px;">
									<label class="me-3">總價格: NT$10,000</label>
								</div>
								<div style="margin-top: 30px;"></div>
								<div class="d-flex align-items-center" style="font-size: 25px;">
									<label class="me-3">方案詳情:</label>
									<textarea class="form-control"
										style="resize: vertical; height: 100px;"></textarea>
									<br>
								</div>
								<div style="margin-top: 100px;"></div>
								<div class="d-flex justify-content-center">
									<button type="button" class="btn btn-primary"
										style="font-size: 25px;" data-bs-toggle="modal"
										data-bs-target="#myModal">報價</button>

									<div class="modal fade" id="myModal" tabindex="-1"
										aria-labelledby="exampleModalLabel" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="exampleModalLabel">報價結果通知</h5>
													<button type="button" class="btn-close"
														data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
												<div class="modal-body">

													<form>已報價成功</form>
												</div>
												<div class="modal-footer">
													<a th:href="@{/userinformation/req_userpage}">
														<button type="button" class="btn btn-secondary"
															data-bs-dismiss="modal">了解</button>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- <footer> -->
	<div class="container">
		<footer class="py-3 my-4">
			<ul class="nav justify-content-center border-bottom pb-3 mb-3">
				<li class="nav-item"><a th:href="@{/}"
					class="nav-link px-2 text-body-secondary">關於我們</a></li>
				<li class="nav-item"><a th:href="@{/}"
					class="nav-link px-2 text-body-secondary">最新消息</a></li>
				<li class="nav-item"><a th:href="@{/com/com}"
					class="nav-link px-2 text-body-secondary">廠商資訊</a></li>
				<li class="nav-item"><a
					th:href="@{/userinformation/customer_service}"
					class="nav-link px-2 text-body-secondary">聯絡我們</a></li>
			</ul>
			<p class="text-center text-body-secondary">&copy; 2023 NO BARRIER
				TECH Company, Inc</p>
		</footer>
	</div>

	<script th:src="@{/js/notification.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.min.js}"></script>
</body>

</html>