<!DOCTYPE html>
<!-- <html lang="en"> -->
<html xmlns:th="http://www.thymeleaf.org">


<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>customer service</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<style>
.small-input {
	width: 200px;
	/* 設置你想要的寬度 */
	margin: 0 auto;
	/* 將元素置中 */
}

/* 調整文件上傳輸入框的大小 */
.form-control-sm {
	width: 200px;
	/* 設置寬度 */
	height: 30px;
	/* 設置高度 */
	/* 添加其他樣式以達到您想要的效果 */
}
/* 将文件上传输入框居中 */
/* 将图片和文件上传输入框左右排列 */
.d-flex {
	display: flex; /* 使用flex布局 */
	align-items: center; /* 垂直居中对齐 */
	justify-content: center; /* 水平居中对齐 */
}
/* 将按钮放置在右下角 */
.tab-pane {
	position: relative; /* 相对定位 */
	padding-bottom: 50px; /* 留出按钮的空间 */
}

.btn-primary {
	position: absolute; /* 绝对定位 */
	bottom: 0; /* 距离底部距离 */
	right: 20px; /* 距离右侧距离 */
	margin-bottom: 10px; /* 按钮与底部的间距 */
}
</style>
</head>

<body>
<head th:insert="~{/front-end/header}"></head>
<!--這是header-->
<!-- 客服 -->
<section class="py-5 text-center container"
	style="background-color: white; max-width: 800px;">
	<h1>客服</h1>
</section>
<hr>
<div th:if="${successMessage}"
	class="alert alert-success alert-dismissible fade show" role="alert"
	id="successMessage">
	
	<button type="button" class="btn-close" data-bs-dismiss="alert"
		aria-label="Close" onclick="clearInputField()"></button>
	<span th:text="${successMessage}"></span>
</div>


<section class="py-5 text-center container"
	style="background-color: rgb(210, 205, 205); max-width: 800px;">
	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item" role="presentation">
			<button class="nav-link active" id="home-tab" data-bs-toggle="tab"
				data-bs-target="#home-tab-pane" type="button" role="tab"
				aria-controls="home-tab-pane" aria-selected="true">提交問題</button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="profile-tab" data-bs-toggle="tab"
				data-bs-target="#profile-tab-pane" type="button" role="tab"
				aria-controls="profile-tab-pane" aria-selected="false">處理中問題</button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="contact-tab" data-bs-toggle="tab"
				data-bs-target="#contact-tab-pane" type="button" role="tab"
				aria-controls="contact-tab-pane" aria-selected="false">已解決問題</button>
		</li>
	</ul>


	<div class="tab-content" id="myTabContent">
		<div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
                tabindex="0">			<form th:action="@{insertque}" method="post" th:object="${queListVO}"
				enctype="multipart/form-data" class="mb-3">
				<label for="exampleFormControlTextarea1" class="form-label">問題描述</label>
				<textarea th:field="*{queDes}"
					onclick="hideContent('queDes.errors');" class="form-control"
					id="queDes" rows="3" /></textarea>
				<br /> <span th:if="${#fields.hasErrors('queDes')}"
					th:errors="*{queDes}" class="error" id="queDes.errors"></span>


				<div>
					<label>問題圖片:</label> <input type="file" name="queImage"
						onclick="previewImage()" multiple="multiple"
						onchange="hideContent('queImage.errors');" /> <span class="error"
						th:utext="${errorMessage}" id="queImage.errors">${errorMessage}</span>
					<div id="blob_holder"></div>
				</div>
				<button type="submit" class="btn btn-primary" data-bs-toggle="modal"
					data-bs-target="#myModal">送出</button>
			</form>
		</div>


		<div class="tab-pane fade" id="profile-tab-pane" role="tabpanel"
			aria-labelledby="profile-tab" tabindex="0">
			<div class="accordion" id="accordionPanelsStayOpenExample">
				<div th:each="item, itemIndex : ${queListData1}"
					class="accordion-item">
					<!-- 										<th:block th:if="${item.queStat == 1}"> -->
					<h2 class="accordion-header">
						<button class="accordion-button" type="button"
							data-bs-toggle="collapse"
							th:data-bs-target="'#panelsStayOpen-collapse' + ${itemIndex.index}"
							aria-expanded="true"
							th:aria-controls="'panelsStayOpen-collapse' + ${itemIndex.index}">
							<span th:text="${item.queNotitime}"></span>
						</button>
					</h2>
					<div th:id="'panelsStayOpen-collapse' + ${itemIndex.index}"
						class="accordion-collapse collapse">
						<div class="accordion-body">
							<strong>事件描述：</strong> <span th:text="${item.queDes}"></span>
						</div>
					</div>

					</th:block>
				</div>
			</div>
		</div>



		<div class="tab-pane fade" id="contact-tab-pane" role="tabpanel"
			aria-labelledby="contact-tab" tabindex="0">
			<div class="accordion" id="accordionPanelsStayOpenExample">
				<div th:each="item, itemIndex : ${queListData0}"
					class="accordion-item">
					<!-- 										<th:block th:if="${item.queStat == 0}"> -->

					<h2 class="accordion-header">
						<button class="accordion-button" type="button"
							data-bs-toggle="collapse"
							th:data-bs-target="'#panelsStayOpen-collapse' + ${itemIndex.index}"
							aria-expanded="true"
							th:aria-controls="'panelsStayOpen-collapse' + ${itemIndex.index}">
							<span th:text="${item.queNotitime}"></span>
						</button>
					</h2>
					<div th:id="'panelsStayOpen-collapse' + ${itemIndex.index}"
						class="accordion-collapse collapse">
						<div class="accordion-body">
							<strong>事件描述：</strong> <span th:text="${item.queDes}"></span>
						</div>
					</div>
					</th:block>

				</div>
			</div>
		</div>
</section>
<!-- <footer> -->
<head th:insert="~{/front-end/footer}"></head>
<!--這是footer-->
<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.min.js}"></script>


<!--     <script src="js/home.js"></script> -->
<!--     <script src="js/popper.min.js"></script> -->
<!--     <script src="js/bootstrap.min.js"></script> -->

<script>
	function clearInputField() {
		document.getElementById('queDes').value = ''; // 將 input 欄位的值設置為空字符串
	}
</script>

</body>

</html>