<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>register2</title>

<!--     <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" /> -->
  </head>
  <body>
    <!-- <header> -->
      <head th:insert="~{/front-end/header}"></head>
    <!-- 註冊區塊 -->
    <main>
      <div class="container mt-5">
        <h2 class="mb-4">用戶註冊-mail驗證</h2>
        <form>
          <div class="row">
            <!-- 左邊註冊區塊 -->
            <div class="col-md-6">
              <!-- 公司登記名稱 -->
              <div class="mb-3">
                <label for="VerificationCode" class="form-label">驗證碼</label>
                <input
                  type="text"
                  class="form-control"
                  id="VerificationCode"
                  name="VerificationCode"
                  required
                />
              </div>

              
            </div>
          </div>

          <!-- form表單提交按鈕 -->
          <a href="register2.html" class="btn btn-secondary" onclick="return confirm('確定要送出嗎？')">送出</a>
        </form>
      </div>
    </main>

     <!-- <footer> -->
      <head th:insert="~{/front-end/footer}"></head>	
	  <script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.min.js}"></script>

<!--     <script src="js/popper.min.js"></script> -->
<!--     <script src="js/bootstrap.min.js"></script> -->
  </body>
</html>
