<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-in</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style>
        /* 小型設備（手機） */
        @media (max-width: 767.98px) {
            /* 樣式設定 */
        }

        /* 中型設備（平板） */
        @media (min-width: 768px) and (max-width: 991.98px) {
            /* 樣式設定 */
        }

        /* 大型設備（桌面） */
        @media (min-width: 992px) {
            /* 樣式設定 */
        }

        .form-floating {
            max-width: 300px;
            /* 設定最大寬度 */
            margin: 0 auto;
            /* 左右置中 */
        }

        .form-check {
            max-width: 300px;
            /* 設定最大寬度 */
            margin: 0 auto;
            /* 左右置中 */
        }
    </style>
</head>

<body>
    <!-- <header> -->
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="homepage.html"
                class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <svg width="50" height="50">
                    <image href="image/new-logo.svg" width=100% height=100% />
                </svg>
                <span class="fs-4" style="font-weight: bold;">NO BARRIER TECH</span>
            </a>
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="homepage.html" class="nav-link ">關於我們</a></li>
                <li class="nav-item"><a href="homepage.html" class="nav-link">最新消息</a></li>
                <li class="nav-item"><a href="com.html" class="nav-link">廠商資訊</a></li>
                <li class="nav-item"><a href="#" class="nav-link">論壇</a></li>
                <li class="nav-item"><a href="customer_service.html" class="nav-link">聯絡我們</a></li>
                <li class="nav-item"><a href="sign_in.html" class="nav-link">登入</a></li>
                <li class="nav-item"><a href="#" class="nav-link">註冊</a></li>

                <!-- 漢堡選單 -->
                <nav class="navbar bg-custom-color" aria-label="Light offcanvas navbar">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#"></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbarLight" aria-controls="offcanvasNavbarLight"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon small"></span>
                        </button>
                        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbarLight"
                            aria-labelledby="offcanvasNavbarLightLabel">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title" id="offcanvasNavbarLightLabel">NO BARRIER TECH</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                    aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">會員中心</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">資料修改</a></li>
                                            <li><a class="dropdown-item" href="#">帳戶資訊</a></li>
                                            <li><a class="dropdown-item" href="#">更改密碼</a></li>
                                            <li><a class="dropdown-item" href="#">產業類別編輯</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">介紹頁面</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="editmember_ad_view.html">預覽頁面</a></li>
                                            <li><a class="dropdown-item" href="editmember_ad.html">編輯頁面</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">首頁廣告預約列表</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">首頁廣告購買</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">交易狀態</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">月對帳單</a>
                                    </li>
                                </ul>
                                <form class="d-flex mt-3" role="search">
                                    <input class="form-control me-2" type="search" placeholder="Search"
                                        aria-label="Search">
                                    <button class="btn btn-outline-success" type="submit">Search</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </nav>
            </ul>
        </header>
    </div>

    <div class="form-signin  text-center">

        <form>
            <img class="mb-4" src="image/new-logo.svg" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Sign in</h1>

            <div class="form-floating">
                <input type="account" class="form-control" id="floatingInput" placeholder="Account">
                <label for="floatingInput">Account</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>

            <div class="form-check text-start my-3">
                <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Remember me
                </label>
            </div>
            <div style="margin-top: 30px;"></div>
            
            
        </form>
        <a href="req_userpage.html">
        <button class="btn btn-primary w-100 py-2 form-floating" type="submit">Sign in</button>
        </a>
    </div>

    <!-- <footer> -->
    <div class="container">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="homepage.html" class="nav-link px-2 text-body-secondary">關於我們</a></li>
                <li class="nav-item"><a href="homepage.html" class="nav-link px-2 text-body-secondary">最新消息</a></li>
                <li class="nav-item"><a href="com.html" class="nav-link px-2 text-body-secondary">廠商資訊</a></li>
                <li class="nav-item"><a href="customer_service.html" class="nav-link px-2 text-body-secondary">聯絡我們</a>
                </li>
            </ul>
            <p class="text-center text-body-secondary">&copy; 2023 NO BARRIER TECH Company, Inc</p>
        </footer>
    </div>

    <script src="js/home.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>