<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>member</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style>
        /* 小型設備（手機） */
        @media (max-width: 767.98px) {
            /* 樣式設定 */
        }

        /* 中型設備（平板） */
        @media (min-width: 768px) and (max-width: 991.98px) {
            /* 樣式設定 */
        }

        /* 大型設備（桌面） */
        @media (min-width: 992px) {
            /* 樣式設定 */
        }

        .form-floating {
            max-width: 300px;
            /* 設定最大寬度 */
            margin: 0 auto;
            /* 左右置中 */
        }

        .form-check {
            max-width: 300px;
            /* 設定最大寬度 */
            margin: 0 auto;
            /* 左右置中 */
        }
    </style>
</head>

<body>
    <!-- header -->
    <head th:insert="~{/back-end/header}"></head>

    <!-- siderbar -->
    <head th:insert="~{/back-end/siderbar}"></head>

            <div class="col-8">
                <div style="font-size: 40px; text-align: left; color:darkgoldenrod; font-weight: bold;">異動審核</div>
                <div style="margin-top: 30px;"></div>
                <div class="alert alert-secondary" role="alert" style="font-size: 30px;">會員編號:0000001</div>
                <div style="margin-top: 40px;"></div>

                <select class="form-select" aria-label="Default select example" style="width: 150px;">
                    <option selected>異動類型</option>
                    <option value="1">新增帳號</option>
                    <option value="2">修改資料</option>
                  </select>

                  <div style="margin-top: 40px;"></div>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label" style="font-size: 20px; display: inline-block; white-space: nowrap;">公司登記名稱:</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail3" style="width: 150px;">
                    </div>
                </div>
                
                <div style="margin-top: 40px;"></div>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label" style="font-size: 20px; display: inline-block; white-space: nowrap;">公司統一編號:</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail3" style="width: 150px;">
                    </div>
                </div>
                <div style="margin-top: 40px;"></div>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label" style="font-size: 20px;">公司電話:</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail3" style="width: 150px;">
                    </div>
                </div>
                <div style="margin-top: 40px;"></div>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label" style="font-size: 20px;">公司信箱:</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail3" style="width: 150px;">
                    </div>
                </div>
                <div style="margin-top: 40px;"></div>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label" style="font-size: 20px;display: inline-block; white-space: nowrap;">公司登記地址:</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail3" style="width: 150px;">
                    </div>
                </div>
                <div style="margin-top: 40px;"></div>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label" style="font-size: 20px;">銀行帳號:</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail3" style="width: 150px;">
                    </div>
                </div>
                <div style="margin-top: 40px;"></div>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label" style="font-size: 20px;">登入密碼:</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail3" style="width: 150px;">
                    </div>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary me-md-2" type="button">審核通過</button>
                    <button class="btn btn-primary" type="button">審核不通過</button>
                  </div>
            </div>

        </div>
    </div>

   


    <!-- <footer> -->
    <head th:insert="~{/back-end/footer}"></head>

    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>