<div class="container">
	<div class="row">
		<div class="col">
			<div class="flex-shrink-0 p-3" style="width: 100%; text-align: center; background-color: lightgray;">
				<div class="row">
					<div class="col">
						<ul class="list-unstyled ps-0">
							<li class="border-top my-3"></li>
							<li class="mb-1">
								<button
									class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
									data-bs-toggle="collapse" data-bs-target="#home-collapse-1" aria-expanded="false"
									style="font-size: 30px;">
									權限管理
								</button>
								<div class="collapse" id="home-collapse-1">
									<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
										<li><a href="authorization_new_member"
												class="link-body-emphasis d-inline-flex text-decoration-none rounded"
												style="font-size: 20px;">新增管理員</a></li>
										<li><a href="authorization_update_member"
												class="link-body-emphasis d-inline-flex text-decoration-none rounded"
												style="font-size: 20px;">修改權限</a></li>
									</ul>
								</div>
							</li>
							<li class="border-top my-3"></li>
							<li class="mb-1">
								<button
									class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
									data-bs-toggle="collapse" data-bs-target="#home-collapse-1" aria-expanded="false"
									style="font-size: 30px;">
									會員管理
								</button>
								<div class="collapse" id="home-collapse-1">
									<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
										<li><a href="member"
												class="link-body-emphasis d-inline-flex text-decoration-none rounded"
												style="font-size: 20px;">異動審核</a></li>
										<li><a href="member_admin"
												class="link-body-emphasis d-inline-flex text-decoration-none rounded"
												style="font-size: 20px;">帳號管理</a></li>
									</ul>
								</div>
							</li>
							<li class="border-top my-3"></li>
							<li class="mb-1">
								<button
									class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
									data-bs-toggle="collapse" data-bs-target="#home-collapse-3" aria-expanded="false"
									style="font-size: 30px;">
									廣告管理
								</button>
								<div class="collapse" id="home-collapse-3">
									<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
										<li><a href="ad_order"
												class="link-body-emphasis d-inline-flex text-decoration-none rounded"
												style="font-size: 20px;">廣告訂單</a></li>
										<li><a href="advertising"
												class="link-body-emphasis d-inline-flex text-decoration-none rounded"
												style="font-size: 20px;">廣告投放</a></li>
									</ul>
								</div>
							</li>
							<li class="border-top my-3"></li>
							<li class="mb-1">
								<button
									class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
									data-bs-toggle="collapse" data-bs-target="#home-collapse-4" aria-expanded="false"
									style="font-size: 30px;">
									商家管理
								</button>
								<div class="collapse" id="home-collapse-4">
									<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
										<li><a href="buy_list"
												class="link-body-emphasis d-inline-flex text-decoration-none rounded"
												style="font-size: 20px;">檢舉列表</a></li>
										<li><a href="buy_operation"
												class="link-body-emphasis d-inline-flex text-decoration-none rounded"
												style="font-size: 20px;">懲處操作</a></li>
										<li><a href="buy_operation_list"
												class="link-body-emphasis d-inline-flex text-decoration-none rounded"
												style="font-size: 20px;">懲處列表</a></li>
									</ul>
								</div>
							</li>
							<li class="border-top my-3"></li>
							<li class="mb-1">
								<button
									class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
									data-bs-toggle="collapse" data-bs-target="#home-collapse-5" aria-expanded="false"
									style="font-size: 30px;">
									物流管理
								</button>
								<div class="collapse" id="home-collapse-5">
									<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
										<li><a href="in_logistics"
												class="link-body-emphasis d-inline-flex text-decoration-none rounded"
												style="font-size: 20px;">配送中</a></li>
										<li><a href="arrived"
												class="link-body-emphasis d-inline-flex text-decoration-none rounded"
												style="font-size: 20px;">已送達</a></li>
									</ul>
								</div>
							</li>

							<li class="border-top my-3"></li>
							<li class="mb-1">
								<button
									class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
									data-bs-toggle="collapse" data-bs-target="#home-collapse-7" aria-expanded="false"
									style="font-size: 30px;">
									客服管理
								</button>
								<div class="collapse" id="home-collapse-7">
									<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
										<li><a href="customer_pending"
												class="link-body-emphasis d-inline-flex text-decoration-none rounded"
												style="font-size: 20px;">待處理問題</a></li>
										<li><a href="customer_completed"
												class="link-body-emphasis d-inline-flex text-decoration-none rounded"
												style="font-size: 20px;">已解決問題</a></li>
									</ul>
								</div>
							</li>

							</li>
							<li class="border-top my-3"></li>
							<li class="mb-1">
								<button
									class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
									data-bs-toggle="collapse" data-bs-target="#home-collapse-9" aria-expanded="false"
									style="font-size: 30px;">
									訂單管理
								</button>
								<div class="collapse" id="home-collapse-9">
									<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
										<li><a href="order_completed"
												class="link-body-emphasis d-inline-flex text-decoration-none rounded"
												style="font-size: 20px;">訂單完成</a></li>
										<li><a href="order_error"
												class="link-body-emphasis d-inline-flex text-decoration-none rounded"
												style="font-size: 20px;">訂單異常</a></li>
									</ul>
								</div>
							</li>
							<li class="border-top my-3"></li>
							<li class="mb-1">
								<button
									class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
									data-bs-toggle="collapse" data-bs-target="#home-collapse-10" aria-expanded="false"
									style="font-size: 30px;">
									產業管理
								</button>
								<div class="collapse " id="home-collapse-10">
									<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
										<li><a href="industry_judge"
												class="link-body-emphasis d-inline-flex text-decoration-none rounded"
												style="font-size: 20px;">分類判斷</a></li>
										<li><a href="industry_update"
												class="link-body-emphasis d-inline-flex text-decoration-none rounded"
												style="font-size: 20px;">類別異動</a></li>
									</ul>
								</div>
							</li>
							<li class="border-top my-3"></li>
							<li class="mb-1">
								<button
									class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
									data-bs-toggle="collapse" data-bs-target="#home-collapse-11" aria-expanded="false"
									style="font-size: 30px;">
									訊息管理
								</button>
								<div class="collapse" id="home-collapse-11">
									<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
										<li><a href="msg_history"
												class="link-body-emphasis d-inline-flex text-decoration-none rounded"
												style="font-size: 20px;">歷史訊息</a></li>
										<li><a href="msg_contact"
												class="link-body-emphasis d-inline-flex text-decoration-none rounded"
												style="font-size: 20px;">洽談中</a></li>
									</ul>
								</div>
							</li>
							<li class="border-top my-3"></li>
							<li class="mb-1">
								<button
									class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
									data-bs-toggle="collapse" data-bs-target="#home-collapse-12" aria-expanded="false"
									style="font-size: 30px;">
									公告管理
								</button>
								<div class="collapse" id="home-collapse-12">
									<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
										<li><a href="news"
												class="link-body-emphasis d-inline-flex text-decoration-none rounded"
												style="font-size: 20px;">最新消息</a></li>

									</ul>
								</div>
							</li>
							<li class="border-top my-3"></li>
							<li class="mb-1">
								<button
									class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
									data-bs-toggle="collapse" data-bs-target="#home-collapse-13" aria-expanded="false"
									style="font-size: 30px;">
									論壇管理
								</button>
								<div class="collapse" id="home-collapse-13">
									<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
										<li><a href="forum"
												class="link-body-emphasis d-inline-flex text-decoration-none rounded"
												style="font-size: 20px;">論壇資訊</a></li>

									</ul>
								</div>
							</li>
							<!-- 以下略 -->
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>