<!DOCTYPE html>
<html xmlns:th="http ://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>NoBerrierTech 論壇交流區</title>

<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" th:href="@{https://cdn.datatables.net/1.13.5/css/dataTables.jqueryui.min.css}" />
<script th:src="@{/js/home.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.min.js}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>                                  
<script	src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>            

<!-- 引入forum/css -->
<link rel="stylesheet" th:href="@{/css/forum_style.css}" />
</head>

<body>
	<!-- header -->
<head th:insert="~{/front-end/header_login}"></head>
	












<!-- footer -->
<head th:insert="~{/front-end/footer}"></head>
</body>
</html>