<!DOCTYPE html>
<html xmlns:th="http ://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>NoBerrierTech 討論區</title>

<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" th:href="@{https://cdn.datatables.net/1.13.5/css/dataTables.jqueryui.min.css}" />
<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.min.js}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>                                  
<script	src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>            

<!-- 引入css -->
<link rel="stylesheet" th:href="@{/css/listOneForum.css}" />
</head>

<body>
	<!-- header -->
<head th:insert="~{/front-end/header_Dora}"></head>

 <div class="transparent-box">
        <div class="content">
            <div class="post">
                <div class="post-header">
   					 <div class="post-header">
    <div class="user-info">
        <i class="fa-solid fa-user"></i>
        <span th:text="${forumPostVO.userVO?.comName}">使用者名稱</span>
    </div>
    <div class="icon-wrapper">
        <i class="fa-solid fa-rotate-left fa-lg" onclick="window.location.href='/forum/forumIndex';"></i>
        <i class="fa-solid fa-ellipsis-vertical fa-lg" onclick="toggleMenu(this)"></i>
        <div id="menu" class="menu" style="display: none;">
            <a th:href="@{/forum/getOne_For_Update(fpNum=${forumPostVO.fpNum})}">
                <i class="fa-regular fa-pen-to-square fa-lg" style="color: black;"></i>編輯文章</a>
            <a href="javascript:void(0);" th:onclick="'deletePostAndRedirect(' + ${forumPostVO.fpNum} + ');'">
                <i class="fa-solid fa-trash fa-lg" style="color: black;"></i> 刪除文章 
            </a>
        </div>
    </div>
</div>
   		
                    
                    <br>
                    <div class="title-time-container">
                        <h4 th:text="${forumPostVO.fpTitle}">文章標題</h4>
                        <span class="post-time">
                            <i class="fa-regular fa-clock fa-lg"></i>
                            <span th:text="${#dates.format(forumPostVO.fpTime, 'yyyy-MM-dd HH:mm')}">發布時間</span>
                        </span>
                    </div>
                    <br>
                    <p style="white-space: pre-wrap;" th:text="${forumPostVO.fpContent}"></p>
                    <img th:if="${forumPostVO.fpImage != null}" th:src="@{/forumPost/DBGifReader(fpNum=${forumPostVO.fpNum})}" width="300px"><br/>
                    <br>
                    <!-- 顯示文章的類別 -->
                    <p> 
                        #<span th:text="${forumPostVO.fpCategory == 1 ? '工業加工' : 
                                        forumPostVO.fpCategory == 2 ? '照明配件' : 
                                        forumPostVO.fpCategory == 3 ? '金屬物件' : 
                                        forumPostVO.fpCategory == 4 ? '機械材料' : 
                                        forumPostVO.fpCategory == 5 ? '電子元件' : 
                                        forumPostVO.fpCategory == 6 ? '螺絲與緊固件' : 
                                        '其他'}"></span>
                    </p>
                    <br>  
                    <div class="fabotton">
                        <i class="fa-regular fa-heart fa-lg"></i>
                        <i class="fa-regular fa-bookmark fa-lg"></i>
                        
                    </div>                    
            </div>
            </div>
            
		
		<div class="article-comments">
    
    <h6> 留言 <i class="fa-regular fa-comment"></i></h6>
    
    <!-- 新增留言表單 -->
    
	<form id="forumReplyForm" action="/forumReply/insert" method="POST" enctype="multipart/form-data">
    <div class="user-info">
        <i class="fa-solid fa-user"></i>
        <span th:text="${session.loggingInUser.comName}">登入者名稱</span>
       </div>
   	 <input type="hidden" name="fpNum" th:value="${forumPostVO.fpNum}" />
   	<textarea id="frContent" name="frContent" class="comment-input" placeholder="請輸入您的留言"></textarea>
    
    <!-- 插入圖片的輸入 -->
    <div class="mb-3">
        <label for="frImage" class="form-label">插入圖片:</label>
        <input type="file" class="form-control" id="frImage" name="frImage">
    </div>
    
    <button type="button" onclick="submitForumReply()">送出</button>
    <button type="button" onclick="cancelFunction()">取消</button>
</form>

    
    <br>
    <!-- 留言展示 -->
    <div th:each="forumReplyVO : ${forumReplyListData}">
        <div class="comment" th:if="${forumReplyVO.forumPostVO.fpNum == forumPostVO.fpNum}">
            <p class="comment-user" th:text="${forumReplyVO.userVO != null ? forumReplyVO.userVO.comName : '未知使用者'}"></p>
            <p th:text="${forumReplyVO.frContent}"></p>
            <img th:if="${forumReplyVO.frImage != null}" th:src="@{/forumReply/DBGifReader(frNum=${forumReplyVO.frNum})}"  width="200px"/>
            <br>
            <span class="comment-time" th:text="${#dates.format(forumReplyVO.frTime, 'yyyy-MM-dd HH:mm')}"></span>
        </div>
    </div>
</div>
 </div>
    </div>



    	


<!-- footer -->
<head th:insert="~{/front-end/footer}"></head>
<!-- JS -->
<script th:src="@{/js/home.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/forum.js}"></script>


</body>
</html>