<!DOCTYPE html>
<html xmlns:th="http ://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>修改文章 - NoBarrier Tech CommunityForum</title>

<link href="/css/bootstrap.min.css" rel="stylesheet">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" />
<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.min.js}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script
	src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<!-- 引入forum/css -->
<link rel="stylesheet" th:href="@{/css/forumStyle.css}" />

</head>
<body>
	<!-- header -->
<head th:insert="~{/front-end/header_Dora}"></head>

<br>

<!-- <form th:action="@{/forum/update}" method="post" th:object="${forumPostVO}" -->
<!-- 	enctype="multipart/form-data"> -->
<!-- 	<div class="container my-4 bg-white p-4 rounded"> -->
<!-- 		<div class="d-flex justify-content-between align-items-center"> -->
<!-- 			<h3>修改文章</h3> -->
<!-- 		</div> -->

<!-- 		<br> -->

		<!--下面的user圖示旁邊要自動代入登入者帳號 -->


<!-- 		<div> -->
<!-- 			<i class="fa-solid fa-user fa-xl"></i> <select -->
<!-- 				th:field="*{userVO.userId}"> -->
<!-- 				<option th:each="userVO : ${userListData}" -->
<!-- 					th:value="${userVO.userId}" th:text="${userVO.comName}" /> -->
<!-- 			</select> <span th:if="${#fields.hasErrors('userVO.userId')}" -->
<!-- 				th:errors="*{userVO.userId}" class="error" id="userVO.userId.errors"></span> -->
<!-- 		</div> -->

<!-- 		<br> <br> -->

<!-- 		<div class="mb-3"> -->
<!-- 			<label for="threadTitle" class="form-label">文章標題:</label> <input -->
<!-- 				type="text" th:field="*{fpTitle}" class="form-control" -->
<!-- 				id="threadTitle" placeholder="文章標題" readonly> <span -->
<!-- 				th:if="${#fields.hasErrors('fpTitle')}" th:errors="*{fpTitle}" -->
<!-- 				class="error" id="fpTitleErrors"></span> -->
<!-- 		</div> -->

<!-- 		<!-- 新增產業類別下拉式按鈕 --> -->
<!-- 		<div class="row mb-3"> -->
<!-- 			<div class="col"> -->
<!-- 				<label for="selectCategory" class="form-label">選擇產業類別</label> <select -->
<!-- 					class="form-select" id="selectCategory" th:field="*{fpCategory}"> -->
<!-- 					<option selected value="1">工業加工</option> -->
<!-- 					<option value="2">照明配件</option> -->
<!-- 					<option value="3">金屬物件</option> -->
<!-- 					<option value="4">機械材料</option> -->
<!-- 					<option value="5">電子元件</option> -->
<!-- 					<option value="6">螺絲與緊固件</option> -->
<!-- 					<option value="7">其他</option> -->
<!-- 				</select> -->
<!-- 			</div> -->
<!-- 		</div> -->

<!-- 		<div class="mb-3"> -->
<!-- 			<label for="description" class="form-label">發表內容:</label> <br> -->
<!-- 			<!-- 發表內容 --> -->
<!-- 			<textarea class="form-control" th:field="*{fpContent}" -->
<!-- 				id="description" placeholder="請輸入文章內容" rows="6"></textarea> -->
<!-- 		</div> -->


<!-- 		<!-- 新增圖片 --> -->

<!-- 		<div class="upload-container" -->
<!-- 			style="display: flex; align-items: center;"> -->
<!-- 			<div class="mb-3" id="uploadImageContainer" style="flex-grow: 1;"> -->
<!-- 				<label for="fpImage" class="form-label">上傳圖片 <i -->
<!-- 					class="fa-regular fa-image fa-xl"></i></label> <input type="file" -->
<!-- 					th:field="*{fpImage}" class="form-control" id="fpImage" -->
<!-- 					name="fpImage"> -->
<!-- 			</div> -->
<!-- 			<div id="imagePreview"></div> -->
<!-- 		</div> -->


<!-- 		<div class="d-flex justify-content-end"> -->
<!-- 			<button type="submit" class="btn btn-outline-secondary me-3">新增文章</button> -->
<!-- 			<button type="button" class="btn btn-outline-secondary ">取消</button> -->
<!-- 		</div> -->
	</div>

</form>


<!-- footer -->
<head th:insert="~{/front-end/footer}"></head>
<!-- JS -->
<script th:src="@{/js/home.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/forum.js}"></script>

</body>
</html>

