








<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>需求單新增 - addReqOrder.html</title>

<head th:insert="~{/back-end/reqorder/included-fragment}"></head>
<style type="text/css">
	
	button {
		padding: 5px;
	}
	form {
		display: table;
	}
	form div {
		display: table-row;
	}
	label, input, span, select {
		display: table-cell;
		margin: 5px;
		text-align: left;		
	}
	input[type=text], input[type=password], select, textarea {
		width: 200px;
		margin: 5px;
	}
	form div div {
		display: table-cell;
	}
	.center {
        margin-left: auto;
        margin-right: auto;
    }
</style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
		 <div align="center"> <h2>需求單新增 - addReqOrder.html</h2>
		 <h3><a class="navbar-brand" th:href="@{/reqorder/select_page}"><img th:src="@{/images/back1.gif}">回查詢頁</a></h3></div>
</nav>

	<div align="center">
		<h3><b>所有欄位皆為必填欄位</b></h3>
		<form th:action="@{insert}" method="post" th:object="${reqOrderVO}" enctype="multipart/form-data">
			
			
			
			
			<div>
			<label>發佈日期:</label>
			<input type="date" th:field="*{reqOrderdate}" onclick="hideContent('reqOrderdate.errors');" /><br/>
			<span  th:if="${#fields.hasErrors('reqOrderdate')}" th:errors="*{reqOrderdate}" class="error" id="reqOrderdate.errors"></span>
			</div>
			
			<div>
			<label>商品名稱:</label>
			<input type="text" th:field="*{reqProdname}" onclick="hideContent('reqProdname.errors');" /><br/>
			<span  th:if="${#fields.hasErrors('reqProdname')}" th:errors="*{reqProdname}" class="error" id="reqProdname.errors"></span>
			</div>
			

			<div>
			<label>商品單位:</label>
			<input type="text" th:field="*{reqUnitname}" onclick="hideContent('reqUnitname.errors');" /><br/>
			<span  th:if="${#fields.hasErrors('reqUnitname')}" th:errors="*{reqUnitname}" class="error" id="reqUnitname.errors"></span>
			</div>
			
			<div>
			<label>商品數量:</label>
			<input type="text" th:field="*{reqProdqty}" onclick="hideContent('reqProdqty.errors');" /><br/>
			<span  th:if="${#fields.hasErrors('reqProdqty')}" th:errors="*{reqProdqty}" class="error" id="reqProdqty.errors"></span>
			</div>
			
			<div>
			<label>商品圖片:</label>
			<input type="file" th:field="*{reqProdimage}" onclick="previewImage()" multiple="multiple" onchange="hideContent('reqProdimage.errors');" />
<!-- 			<span  th:if="${#fields.hasErrors('comAboutImage')}" th:errors="*{comAboutImage}" class="error" id="comAboutImage.errors"></span> -->
			<span class="error" th:utext="${errorMessage}" id="reqProdimage.errors">${errorMessage}</span>
<!-- 			<h2 id="errorMessage">${errorMessage}</h2>  -->
			<div id="blob_holder"></div>
			</div>
			
			<div>
			<label>商品敘述:</label>
			<input type="text" th:field="*{reqDes}" onclick="hideContent('reqDes.errors');" /><br/>
			<span  th:if="${#fields.hasErrors('reqDes')}" th:errors="*{reqDes}" class="error" id="reqDes.errors"></span>
			</div>
			
			<div>
			<label>產品類別:</label>
			<select th:field="*{industryVO.industryNum}">
				<option th:each="industryVO : ${industryListData}" th:value="${industryVO.industryNum}" th:text="${industryVO.industryName}" />
			</select>
			<span th:if="${#fields.hasErrors('industryVO.industryNum')}" th:errors="*{industryVO.industryNum}" class="error" id="industryVO.industryNum.errors"></span>
			</div>
			
			<div>
			<label>買家會員:</label>
			<select th:field="*{userVO.userId}">
				<option th:each="userVO : ${userListData}" th:value="${userVO.userId}" th:text="${userVO.comName}" />
			</select>
			<span th:if="${#fields.hasErrors('userVO.userId')}" th:errors="*{userVO.userId}" class="error" id="userVO.userId.errors"></span>
			</div>
				
			<div>
			<label>狀態:</label>
			<input type="text" th:field="*{reqIsValid}" onclick="hideContent('reqIsValid.errors');" /><br/>
			<span  th:if="${#fields.hasErrors('reqIsValid')}" th:errors="*{reqIsValid}" class="error" id="reqIsValid.errors"></span>
			</div>
			
			<div>
				<div></div>
				<div><button type="submit" id="submit"> 送出新增 </button></div>
				<div></div>
			</div>		
		</form>
	
	</div>


<!-- JavaScript part -->
<script type="text/javascript">
//清除提示信息
function hideContent(d) {
     document.getElementById(d).style.display = "none";
}

//照片上傳-預覽用
var filereader_support = typeof FileReader != 'undefined';
if (!filereader_support) {
	alert("No FileReader support");
}
acceptedTypes = {
		'image/png' : true,
		'image/jpeg' : true,
		'image/gif' : true
};
function previewImage() {
	var upfile1 = document.getElementById("reqProdimage");
	upfile1.addEventListener("change", function(event) {
		var files = event.target.files || event.dataTransfer.files;
		for (var i = 0; i < files.length; i++) {
			previewfile(files[i])
		}
	}, false);
}
function previewfile(file) {
	if (filereader_support === true && acceptedTypes[file.type] === true) {
		var reader = new FileReader();
		reader.onload = function(event) {
			var image = new Image();
			image.src = event.target.result;
			image.width = 100;
			image.height = 75;
			image.border = 2;
			if (blob_holder.hasChildNodes()) {
				blob_holder.removeChild(blob_holder.childNodes[0]);
			}
			blob_holder.appendChild(image);
		};
		reader.readAsDataURL(file);
		document.getElementById('submit').disabled = false;
	} else {
		blob_holder.innerHTML = "<div  style='text-align: left;'>" + "● filename: " + file.name
				+ "<br>" + "● ContentTyp: " + file.type
				+ "<br>" + "● size: " + file.size + "bytes"
				+ "<br>" + "● 上傳ContentType限制: <b> <font color=red>image/png、image/jpeg、image/gif </font></b></div>";
		document.getElementById('submit').disabled = true;
	}
}
</script>

</body>
</html>