








<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>需求單資料 - listOneReqOrder.html</title>

<head th:insert="~{/back-end/reqorder/included-fragment}"></head>
<style type="text/css">
	
    span {
		display: inline-block;
		width: 150px;
		text-align: left;
		font-weight: bold;
	}
</style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
		 <div align="center"> <h2>需求單資料 - listOneReqOrder.html</h2>
		 <h3><a class="navbar-brand" th:href="@{/reqorder/select_page}"><img th:src="@{/images/back1.gif}">回查詢頁<label th:text="${success}"></label></a></h3></div>
</nav>

	<div align="center" th:fragment="listOneReqOrder-div"> <!-- 此div被select_page.html第128行insert用 -->
		<h3><span>查詢結果 :</span></h3>
		<span>商品編號:</span><span th:text="${reqOrderVO.reqNum}"></span><br/>
		<span>發佈日期:</span><span th:text="${reqOrderVO.reqOrderdate}"></span><br/>
		<span>商品名稱:</span><span th:text="${reqOrderVO.reqProdname}"></span><br/>
		<span>商品單位:</span><span th:text="${reqOrderVO.reqUnitname}"></span><br/>
		<span>商品數量:</span><span th:text="${reqOrderVO.reqProdqty}"></span><br/>
		<span>商品圖片:</span><span><img th:src="@{/reqOrder/DBGifReader} + '?reqNum=' + ${reqOrderVO.reqNum}" width="100px"></span><br/>
		<span>商品敘述:</span><span th:text="${reqOrderVO.reqDes}"></span><br/>
		<span>產品類別:</span><span th:text="${reqOrderVO.industryVO.industryNum}+ '-[' + ${reqOrderVO.industryVO.industryName} + ']'"></span><br/>
		<span>買家會員:</span><span th:text="${reqOrderVO.userVO.userId} + '-[' + ${reqOrderVO.userVO.comName} + ']'"></span><br/>
		<span>狀態:</span><span th:text="${reqOrderVO.reqIsValid}"></span><br/>
		
	</div>


</body>
</html>