








<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>員工資料 - listOneEmp.html</title>

<head th:insert="~{/back-end/ad/included-fragment}"></head>
<style type="text/css">
	
    span {
		display: inline-block;
		width: 150px;
		text-align: left;
		font-weight: bold;
	}
</style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
		 <div align="center"> <h2>員工個人資料 - listOneEmp.html</h2>
		 <h3><a class="navbar-brand" th:href="@{/ad/select_page}"><img th:src="@{/images/back1.gif}">回查詢頁<label th:text="${success}"></label></a></h3></div>
</nav>

	<div align="center" th:fragment="listOneEmp-div"> <!-- 此div被select_page.html第128行insert用 -->
		<h3><span>查詢結果 :</span></h3>
		<span>廣告訂單編號:</span><span th:text="${adVO.adOrdernum}"></span><br/>
		<span>廣告價格:</span><span th:text="${adVO.adPrice}"></span><br/>
		<span>廣告狀態代碼:</span><span th:text="${adVO.adStat}"></span><br/>
		<span>廣告購買日期:</span><span th:text="${adVO.adDate}"></span><br/>
		<span>廣告會員編號:</span><span th:text="${adVO.adUserid}"></span><br/>
		<span>廣告投放天數:</span><span th:text="${adVO.adDuration}"></span><br/>
		<span>廣告存在狀態:</span><span th:text="${adVO.adIsValid}"></span><br/>
		<span>上架廣告圖片:</span><span><img th:src="@{/ad/DBGifReader} + '?adOrdernum=' + ${adVO.adOrdernum}" width="100px"></span><br/>	
<!-- 		<div> <span>廣告日期編號</span><div style="display: inline-block; vertical-align: top;"><th:block th:each="advertisement, iteration : ${adVO.advertisements}"><span th:text="${iteration.count}"></span><br/></th:block></div></div>		 -->
		<div><span>廣告日期</span><div style="display: inline-block; vertical-align: top;"><th:block th:each="advertisement : ${adVO.advertisements}"><span th:text="${advertisement.adsDays}"></span><br/></th:block></div>	
	
	</div>



</body>
</html>