<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>廠商資訊</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<style>
/* 小型設備（手機） */
@media ( max-width : 767.98px) { /* 樣式設定 */
}

/* 中型設備（平板） */
@media ( min-width : 768px) and (max-width: 991.98px) { /* 樣式設定 */
}

/* 大型設備（桌面） */
@media ( min-width : 992px) { /* 樣式設定 */
}

.navbar-toggler-icon.small {
	font-size: 0.6rem;
}

#back-to-top-btn {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1000;
	/* 確保按鈕在其他內容上方顯示 */
}

#back-to-top-btn {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1000;
	/* 確保按鈕在其他內容上方顯示 */
}

.form-select {
	max-width: 300px;
	/* 設定最大寬度 */
	margin: 0 auto;
	/* 左右置中 */
}
</style>
</head>

<body>
	<!-- <header> -->
	<div class="container">
		<header
			class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
			<a href="homepage.html"
				class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">

				<img th:src="@{/images/new-logo.svg}" width="50" height="50" /> <span
				class="fs-4">NO BARRIER TECH</span>
			</a>
			<ul class="nav nav-pills">
				<li class="nav-item"><a href="index.html" class="nav-link ">關於我們</a></li>
				<li class="nav-item"><a href="index.html" class="nav-link">最新消息</a></li>
				<li class="nav-item"><a href="com.html" class="nav-link">廠商資訊</a></li>
				<li class="nav-item"><a href="#" class="nav-link">論壇</a></li>
				<li class="nav-item"><a href="customer_service.html"
					class="nav-link">聯絡我們</a></li>
				<li class="nav-item"><a href="sign_in.html" class="nav-link">登入</a></li>
				<li class="nav-item"><a href="#" class="nav-link">註冊</a></li>

				<!-- 漢堡選單 -->
				<nav class="navbar bg-custom-color" aria-label="Light offcanvas navbar">
					<div class="container-fluid">
						<a class="navbar-brand" href="#"></a>
						<button class="navbar-toggler" type="button"
							data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarLight"
							aria-controls="offcanvasNavbarLight"
							aria-label="Toggle navigation">
							<span class="navbar-toggler-icon small"></span>
						</button>
						<div class="offcanvas offcanvas-end" tabindex="-1"
							id="offcanvasNavbarLight"
							aria-labelledby="offcanvasNavbarLightLabel">
							<div class="offcanvas-header">
								<h5 class="offcanvas-title" id="offcanvasNavbarLightLabel">NO
									BARRIER TECH</h5>
								<button type="button" class="btn-close"
									data-bs-dismiss="offcanvas" aria-label="Close"></button>
							</div>
							<div class="offcanvas-body">
								<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
									<li class="nav-item dropdown"><a
										class="nav-link dropdown-toggle" href="#" role="button"
										data-bs-toggle="dropdown" aria-expanded="false">會員中心</a>
										<ul class="dropdown-menu">
											<li><a class="dropdown-item" href="#">資料修改</a></li>
											<li><a class="dropdown-item" href="#">帳戶資訊</a></li>
											<li><a class="dropdown-item" href="#">更改密碼</a></li>
											<li><a class="dropdown-item" href="#">產業類別編輯</a></li>
										</ul></li>
									<li class="nav-item dropdown"><a
										class="nav-link dropdown-toggle" href="#" role="button"
										data-bs-toggle="dropdown" aria-expanded="false">介紹頁面</a>
										<ul class="dropdown-menu">
											<li><a class="dropdown-item"
												href="editmember_ad_view.html">預覽頁面</a></li>
											<li><a class="dropdown-item" href="editmember_ad.html">編輯頁面</a></li>
										</ul></li>
									<li class="nav-item dropdown"><a
										class="nav-link dropdown-toggle" href="#" role="button"
										data-bs-toggle="dropdown" aria-expanded="false">首頁廣告預約列表</a>
										<ul class="dropdown-menu">
											<li><a class="dropdown-item" href="#">首頁廣告購買</a></li>
										</ul></li>
									<li class="nav-item"><a class="nav-link" href="#">交易狀態</a>
									</li>
									<li class="nav-item"><a class="nav-link" href="#">月對帳單</a>
									</li>
								</ul>
								<form class="d-flex mt-3" role="search">
									<input class="form-control me-2" type="search"
										placeholder="Search" aria-label="Search">
									<button class="btn btn-outline-success" type="submit">Search</button>
								</form>
							</div>
						</div>
					</div>
				</nav>
			</ul>
		</header>
	</div>

	<!-- <breadcrumb> -->
	<div class="container my-5">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
				<li class="breadcrumb-item"><a href="homepage.html">Home</a></li>
				<li class="breadcrumb-item"><a href="com.html">廠商資訊</a></li>
			</ol>
		</nav>
	</div>

	<!-- 產業類別選單 -->
	<select class="form-select" id="industry-select"
		onchange="filterTable()" aria-label="Default select example">
		<option selected>請選擇欲搜尋的產業類別</option>
		<option value="工業加工">工業加工</option>
		<option value="金屬物件">金屬物件</option>
		<option value="機械材料">機械材料</option>
		<option value="電子元件">電子元件</option>
		<option value="照明配件">照明配件</option>
		<option value="塑膠零件">塑膠零件</option>
		<option value="螺絲和緊固件">螺絲和緊固件</option>
		<option value="其他">其他</option>
	</select>

	<div style="margin-top: 30px;"></div>

	<!-- 搜尋公司 -->
	<form class="d-flex justify-content-center mt-3" role="search"
		action="com_homepage.html" method="GET"
		style="max-width: 500px; margin: 0 auto;">
		<input class="form-control me-2" type="search" placeholder="Search"
			aria-label="Search" name="company">
		<button class="btn btn-outline-success" type="submit">Search</button>
	</form>

	<div style="margin-top: 50px;"></div>
	<!-- 廠商資訊 -->
	<section class="py-5 text-center container"
		style="background-color: lightgray; max-width: 100%;">
		<div class="row py-lg-5">
			<div class="col-lg-6 col-md-8 mx-auto">
				<h1 class="fw-light">廠商資訊</h1>
				<p class="lead text-body-secondary"></p>
				<table class="table">
					<thead>
						<tr>
							<th scope="col">序號</th>
							<th scope="col">公司名稱</th>
							<th scope="col">公司地址</th>
							<th scope="col">產業類別</th>
							<th scope="col">詳情</th>
						</tr>
					</thead>
					<tbody id="table-body"></tbody>
				</table>
				<nav id="pagination" aria-label="Page navigation">
					<ul class="pagination justify-content-center"></ul>
				</nav>
			</div>
		</div>
	</section>

	<!-- 回到頂端 -->
	<div class="container">
		<div class="row justify-content-end">
			<div class="col-auto">
				<a href="#" id="back-to-top-btn"> <svg
						xmlns="http://www.w3.org/2000/svg" width="30" height="30"
						fill="currentColor" class="bi bi-arrow-up-circle-fill"
						viewBox="0 0 16 16">
                        <path
							d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z" />
                    </svg>
				</a>
			</div>
		</div>
	</div>


	<!-- <footer> -->
	<div class="container">
		<footer class="py-3 my-4">
			<ul class="nav justify-content-center border-bottom pb-3 mb-3">
				<li class="nav-item"><a href="homepage.html"
					class="nav-link px-2 text-body-secondary">關於我們</a></li>
				<li class="nav-item"><a href="homepage.html"
					class="nav-link px-2 text-body-secondary">最新消息</a></li>
				<li class="nav-item"><a href="com.html"
					class="nav-link px-2 text-body-secondary">廠商資訊</a></li>
				<li class="nav-item"><a href="customer_service.html"
					class="nav-link px-2 text-body-secondary">聯絡我們</a></li>
			</ul>
			<p class="text-center text-body-secondary">&copy; 2023 NO BARRIER
				TECH Company, Inc</p>
		</footer>
	</div>

	<script th:src="@{/js/com.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.min.js}"></script>
</body>

</html>