<!-- <footer> -->
	<div class="container">
		<footer class="py-3 my-4">
			<ul class="nav justify-content-center border-bottom pb-3 mb-3">
				<li class="nav-item"><a th:href="@{/}"
					class="nav-link px-2 text-body-secondary">關於我們</a></li>
				<li class="nav-item"><a href="@{/}"
					class="nav-link px-2 text-body-secondary">最新消息</a></li>
				<li class="nav-item"><a th:href="@{/com/com}"
					class="nav-link px-2 text-body-secondary">廠商資訊</a></li>
				<li class="nav-item"><a th:href="@{/userinformation/customer_service}"
					class="nav-link px-2 text-body-secondary">聯絡我們</a></li>
			</ul>
			<p class="text-center text-body-secondary">&copy; 2023 NO BARRIER
				TECH Company, Inc</p>
		</footer>
	</div>