<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Forget Password</title>
</head>
<body>
	<h2>Forget Password</h2>
	<form id="resetForm">
		<label for="account">帳號:</label> 
		<input type="text" id="account" name="account" required>
		<button type="button" onclick="resetPassword()">Reset
			Password</button>
	</form>

	<script>
		function resetPassword() {
			var account = document.getElementById("account").value;

			// 创建一个新的 XMLHttpRequest 对象
			var xhr = new XMLHttpRequest();

			// 配置请求
			xhr.open("POST", "/checkAccountExists", true);
			xhr.setRequestHeader("Content-Type",
					"application/x-www-form-urlencoded");

			// 设置回调函数，处理请求的不同阶段
			xhr.onreadystatechange = function() {
				if (xhr.readyState == 4) {
					// 请求完成
					if (xhr.status == 200) {
						// 请求成功完成
						var response = JSON.parse(xhr.responseText);

						if (response.exists) {
							// 帳號存在
							alert("已寄送重置密碼連結至信箱");
							window.location.href = "/loginpage"
						} else {
							// 帳號不存在
							alert("帳號不存在");
						}
					} else {
						// 請求失敗，請稍後再試
						alert("發生錯誤，請稍後再試");
					}
				}
			};

			// 把編碼轉成 URL 参数形式
			var formData = "account=" + encodeURIComponent(account);

			// 發送請求
			xhr.send(formData);
		}
	</script>
</body>
</html>