<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{css/bootstrap.min.css}">


    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a th:href="@{/}"
                class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                
                    <img th:src="@{/images/logo.png}" width="50" height="50" />
             
                <span class="fs-4" style="font-weight: bold;">NO BARRIER TECH</span>
            </a>
            <ul class="nav nav-pills">
                <li class="nav-item"><a th:href="@{/}" class="nav-link ">關於我們</a></li>
                <li class="nav-item"><a th:href="@{/}" class="nav-link">最新消息</a></li>
                <li class="nav-item"><a th:href="@{/com/com}" class="nav-link">廠商資訊</a></li>
                 <li class="nav-item"><a th:href="@{/forum/forumIndex}" class="nav-link">論壇</a></li>
                <li class="nav-item"><a th:href="@{/userinformation/customer_service}" class="nav-link">聯絡我們</a></li>
               <li class="nav-item"><a th:href="@{/logout}" class="nav-link">登出</a></li>


                    <div class="user-profile" style="margin-left: 10px;"><a th:href="@{/userinformation/userpage}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                            class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                            <path fill-rule="evenodd"
                                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                        </svg>
                    </a>
                    </div>

<!--                 漢堡選單 -->
                <nav class="navbar bg-custom-color" aria-label="Light offcanvas navbar">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#"></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbarLight" aria-controls="offcanvasNavbarLight"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon small"></span>
                        </button>
                        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbarLight"
                            aria-labelledby="offcanvasNavbarLightLabel">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title" id="offcanvasNavbarLightLabel">NO BARRIER TECH</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                    aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">會員中心</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" th:href="@{/userinformation/memberCen}">基本資料</a></li>
                                            <li><a class="dropdown-item" th:href="@{/userinformation/memberCen1}">帳戶資訊</a></li>
                                            <li><a class="dropdown-item" th:href="@{/userinformation/memberCen2}">更改密碼</a></li>
                                            
                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">介紹頁面</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" th:href="@{/com/editmember_ad_view}">預覽頁面</a></li>
                                            <li><a class="dropdown-item" th:href="@{/com/editmember_ad}">編輯頁面</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">首頁廣告預約列表</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" th:href="@{/ad/addEmp}">首頁廣告購買</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" th:href="@{/order/transaction_stat}">交易狀態</a>
                                    </li>
                               
                                </ul>
                              
                            </div>
                        </div>
                    </div>
                </nav>
            </ul>
             <script>
//---------------以下是websocket配置--------------------
//---------------指的是載入header建立ws連線
    
	var MyPoint ="/xxx";
	var host = window.location.host;//localhost:8080
	var endPointURL = "ws://" + host + MyPoint;
	// ws://localhost:8080/xxx
	var webSocket;
	
	console.log(endPointURL);
	
	loadHeader();
	function loadHeader(){
		 console.log("載入header，loadHeader()被使用!");
		 connect();
	}
	//------------------------------------------------
	function connect() {
		webSocket = new WebSocket(endPointURL);
		webSocket.onopen = function(event){
			console.log("建立ws連線",event);
		}
		webSocket.onmessage = function(event){
			 if (event.data instanceof Blob) {
			        // 如果是 Blob（位元型式），可以使用 FileReader 将其读取为文本
			        var reader = new FileReader();
			        reader.onload = function() {
			            var receivedText = reader.result;
			            console.log("接收到 WebSocket 消息：" + receivedText);

 			            window.alert("收到新增通知!" + receivedText);
			            showBootstrapAlert("收到一項新的需求單!");
			            
			        };
			        reader.readAsText(event.data);
			    } else {
			        // 如果不是 Blob，可能是字串
			        var receivedMsg = JSON.parse(event.data);
			        console.log("接收到 WebSocket 消息", receivedMsg);

 			        window.alert("收到新增通知!" + receivedMsg);
			        showBootstrapAlert("收到一項新的需求單!");
// 			        showNotification("New Notification", "This is a new notification.");
			    }
		}
		webSocket.onclose = function(event){
			console.log("ws關閉",event);
		}
		webSocket.onerror = function(event){
			console.error("ws發生問題",event);
		}
	}
	//----------------------以下是一個bs警告框--------------------------
// 	function showBootstrapAlert(message) {
//     var alertDiv = document.createElement("div");
//     alertDiv.classList.add("alert", "alert-warning", "alert-dismissible", "fade", "show");
//     alertDiv.setAttribute("role", "alert");

//     var closeButton = document.createElement("button");
//     closeButton.classList.add("btn-close");
//     closeButton.setAttribute("type", "button");
//     closeButton.setAttribute("data-bs-dismiss", "alert");
//     closeButton.setAttribute("aria-label", "Close");

//     alertDiv.textContent = message;
//     alertDiv.appendChild(closeButton);

//     document.querySelector(".notification-container").appendChild(alertDiv);

//     // 5秒後框關閉
//     setTimeout(function() {
//         alertDiv.remove();
//     }, 5000);
// }
	function showBootstrapAlert(message) {
    var alertDiv = document.createElement("div");
    alertDiv.classList.add("alert", "alert-warning", "alert-dismissible", "fade", "show");
    alertDiv.setAttribute("role", "alert");

    var closeButton = document.createElement("button");
    closeButton.classList.add("btn-close");
    closeButton.setAttribute("type", "button");
    closeButton.setAttribute("data-bs-dismiss", "alert");
    closeButton.setAttribute("aria-label", "Close");

    var extraButton = document.createElement("button");
    extraButton.classList.add("btn", "btn-primary");
    extraButton.textContent = "現在查看"; // 设置按钮的文本内容
    // 设置按钮点击事件
    extraButton.addEventListener("click", function() {
        // 添加您想要执行的额外操作
        console.log("Extra button clicked!");
        window.location.href = "/userinformation/userpage";
    });

    alertDiv.textContent = message;
    alertDiv.appendChild(closeButton);
    alertDiv.appendChild(extraButton); // 添加额外的按钮

    document.querySelector(".notification-container").appendChild(alertDiv);
    

    // 警告視窗時間
    setTimeout(function() {
        alertDiv.remove();
    }, 5000);
}
//-------------------------------------------
// var notificationElement = document.createElement("a");
// notificationElement.setAttribute("href", "#");

// var titleElement = document.createElement("h3");
// titleElement.textContent = "Notification Title";
// notificationElement.appendChild(titleElement);

// var contentElement = document.createElement("p");
// contentElement.textContent = "Notification Content";
// notificationElement.appendChild(contentElement);


// // 将消息元素添加到通知下拉菜单中
// notificationDropdown.appendChild(notificationElement);
	
	</script>
        </header>
    </div>
    
    <script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/notification.js}"></script>
    <script th:src="@{/js/home.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>

