<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>memberProd</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style>
        /* 小型設備（手機） */
        @media (max-width: 767.98px) {
            /* 樣式設定 */
        }

        /* 中型設備（平板） */
        @media (min-width: 768px) and (max-width: 991.98px) {
            /* 樣式設定 */
        }

        /* 大型設備（桌面） */
        @media (min-width: 992px) {
            /* 樣式設定 */
        }

        .navbar-toggler-icon.small {
            font-size: 0.6rem;
        }
        .d-flex.flex-column.flex-shrink-0.p-3.text-bg-dark {
            background-color: lightgray !important;
        }
        #back-to-top-btn {
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 1000;
            /* 確保按鈕在其他內容上方顯示 */
        }

        /* 客服聊天室 */
        #open-chat-button {
            position: fixed;
            bottom: 20px;
            right: 20px;
            padding: 10px 20px;
            background-color: #7e8287;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        #chat-box {
            display: none;
            position: fixed;
            bottom: 80px;
            right: 20px;
            width: 300px;
            height: 400px;
            background-color: #f9f9f9;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }

        #close-chat-button {
            position: absolute;
            top: 10px;
            right: 10px;
            padding: 5px;
            background-color: #ccc;
            color: white;
            border: none;
            border-radius: 50%;
            cursor: pointer;
        }
        
    </style>

</head>

<body>
    <!-- <header> -->
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="homepage.html"
                class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <svg width="50" height="50">
                    <image href="image/new-logo.svg" width=100% height=100% />
                </svg>
                <span class="fs-4" style="font-weight: bold;">NO BARRIER TECH</span>
            </a>
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="homepage.html" class="nav-link" >關於我們</a></li>
                <li class="nav-item"><a href="homepage.html" class="nav-link">最新消息</a></li>
                <li class="nav-item"><a href="com.html" class="nav-link">廠商資訊</a></li>
                <li class="nav-item"><a href="#" class="nav-link">論壇</a></li>
                <li class="nav-item"><a href="customer_service.html" class="nav-link">聯絡我們</a></li>
                <li class="nav-item"><a href="sign_in.html" class="nav-link">登入</a></li>
                <li class="nav-item"><a href="#" class="nav-link">註冊</a></li>

                <!-- 漢堡選單 -->
                <nav class="navbar bg-custom-color" aria-label="Light offcanvas navbar">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#"></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbarLight" aria-controls="offcanvasNavbarLight"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon small"></span>
                        </button>
                        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbarLight"
                            aria-labelledby="offcanvasNavbarLightLabel">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title" id="offcanvasNavbarLightLabel">NO BARRIER TECH</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                    aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">會員中心</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">資料修改</a></li>
                                            <li><a class="dropdown-item" href="#">帳戶資訊</a></li>
                                            <li><a class="dropdown-item" href="#">更改密碼</a></li>
                                            <li><a class="dropdown-item" href="#">產業類別編輯</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">介紹頁面</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="editmember_ad_view.html">預覽頁面</a></li>
                                            <li><a class="dropdown-item" href="editmember_ad.html">編輯頁面</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">首頁廣告預約列表</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">首頁廣告購買</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">交易狀態</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">月對帳單</a>
                                    </li>
                                </ul>
                                <form class="d-flex mt-3" role="search">
                                    <input class="form-control me-2" type="search" placeholder="Search"
                                        aria-label="Search">
                                    <button class="btn btn-outline-success" type="submit">Search</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </nav>
            </ul>
        </header>
    </div>

    <!-- siderbar -->
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark"
                    style="height: 500px; text-align: center;">
                    <a href="/"
                        class="d-flex flex-column align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-2" style="color: black;">xxx有限公司</span>
                    </a>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            <a href="member_AboutUs.html" class="nav-link text-white fs-4">
                                關於我們
                            </a>
                        </li>
                        <li>
                            <a href="member_Prod.html" class="nav-link text-white fs-4">
                                產品資訊
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- 公司的產品資訊 -->
            <div class="col-md-9">
                <div class="row">
                    <h3>產品資訊</h3>
                    <div class="col-md-4">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="200px" height="225px"
                                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                                preserveAspectRatio="xMidYMid slice" focusable="false">
                                <title>公司名稱</title>
                                <rect width="100%" height="100%" fill="#55595c" />
                                <text x="50%" y="50%" fill="#eceeef" dy=".3em">image</text>
                            </svg>
                            <div class="card-body">
                                <p class="card-text">
                                    **產品名稱：**工業機械零件

                                    **產品特色：**高強度、耐用、精密加工
                                    
                                    產品規格：
                                    材質：優質鋼材
                                    尺寸：依客戶要求定制
                                    **產品應用：**廣泛應用於機械製造、汽車製造、航空航天等行業
                                    
                                    產品優勢：
                                    耐用性高，使用壽命長
                                    精密加工，尺寸精準
                                    能夠定制，滿足客戶特殊需求</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="200px" height="225px"
                                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                                preserveAspectRatio="xMidYMid slice" focusable="false">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c" />
                                <text x="50%" y="50%" fill="#eceeef" dy=".3em">image</text>
                            </svg>
                            <div class="card-body">
                                <p class="card-text">
                                    **產品名稱：**工業機械零件

                                    **產品特色：**高強度、耐用、精密加工
                                    
                                    產品規格：
                                    材質：優質鋼材
                                    尺寸：依客戶要求定制
                                    **產品應用：**廣泛應用於機械製造、汽車製造、航空航天等行業
                                    
                                    產品優勢：
                                    耐用性高，使用壽命長
                                    精密加工，尺寸精準
                                    能夠定制，滿足客戶特殊需求</p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="200px" height="225px"
                                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                                preserveAspectRatio="xMidYMid slice" focusable="false">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c" />
                                <text x="50%" y="50%" fill="#eceeef" dy=".3em">image</text>
                            </svg>
                            <div class="card-body">
                                <p class="card-text">
                                    **產品名稱：**工業機械零件

                                    **產品特色：**高強度、耐用、精密加工
                                    
                                    產品規格：
                                    材質：優質鋼材
                                    尺寸：依客戶要求定制
                                    **產品應用：**廣泛應用於機械製造、汽車製造、航空航天等行業
                                    
                                    產品優勢：
                                    耐用性高，使用壽命長
                                    精密加工，尺寸精準
                                    能夠定制，滿足客戶特殊需求</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <!-- 聯絡我們(客服) -->
    <button id="open-chat-button">聯絡我們</button>

    <div id="chat-box" style="display: none;">
        <button id="close-chat-button" onclick="closeChatBox()">X</button>
        <h2>客服</h2>
        <div class="chat-box">
            <!-- 在這裡放置客服畫面的內容 -->
            <p>你好！有什麼可以幫助您的嗎？</p>
        </div>
        <input type="text" id="message-input" placeholder="輸入訊息...">
        <button id="send-message-button">送出</button>
    </div>

    <!-- <footer> -->
        <div class="container">
            <footer class="py-3 my-4">
                <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                    <li class="nav-item"><a href="homepage.html" class="nav-link px-2 text-body-secondary">關於我們</a></li>
                    <li class="nav-item"><a href="homepage.html" class="nav-link px-2 text-body-secondary">最新消息</a></li>
                    <li class="nav-item"><a href="com.html" class="nav-link px-2 text-body-secondary">廠商資訊</a></li>
                    <li class="nav-item"><a href="customer_service.html" class="nav-link px-2 text-body-secondary" >聯絡我們</a></li>
                </ul>
                <p class="text-center text-body-secondary">&copy; 2023 NO BARRIER TECH Company, Inc</p>
            </footer>
        </div>

        <script src="js/home.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>

</body>

</html>